div.container {
	width: 100%;
	border: 1px solid gray;
}

header, footer {
	padding: 1em;
	color: white;
	background-color: #a30a16;
	clear: left;
	text-align: center;
}

.wrapper {
	padding: 5px;
}

#signUp {
	padding: 5px;
	border: 1px solid black;
}

.listado {
	margin-left: 5%;
	margin-top: 2.5%;
	padding: 10px;
	position: relative;
	width: 90%;
}

.listado, .encabezado, .dato {
	border: 2px groove gray;
	border-collapse: collapse;
	text-align: center;
}
.mapa {
	height: 95%;
	width: 95%;
}

#map {
			width: 100%;
			height: 580px;
			box-shadow: 5px 5px 5px #888;
		}